In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [9]:
# load as Pandas dataframe
data_json = pd.read_json('data/world_bank_projects.json')
data_json.head()
data_jsn = json.load((open('data/world_bank_projects.json')))

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## 1. Find the 10 countries with most projects

In [11]:
data_json.groupby(['countryname']).size().sort_values(ascending=False).head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [12]:
#df = json_normalize(data_json,'mjtheme_namecode',['id'])
df = json_normalize(data_jsn,'mjtheme_namecode',['id'])

df.groupby(['name']).size().sort_values(ascending=False).head(11)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
dtype: int64

## 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [13]:
df2 = df.sort_values('code')
df2.name = df2.name[df.name.str.strip() != '']

In [14]:
df2.name = df2['name'].fillna(method='ffill')
df2.groupby(['name']).size().sort_values(ascending=False).head(11)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
dtype: int64